# Configuration created by Apache Sling JCR Installer
oauth.client.id="285vLjx5UqtYKhu5hPIdaViVg"
oauth.config.id="bdaf2cc8722f6d2f94efd5464af1784f"
oauth.config.provider.id="soco-twitter"
oauth.create.users.groups=[""]
oauth.access.token.persist=B"true"
oauth.encode.userids="false"
oauth.create.users="true"
oauth.client.secret="rWRJtjLmpbr0B85Yaseeoi5tYRfQagfLdB4QZm1koQlEuCu5Xk"
