# Configuration created by Apache Sling JCR Installer
oauth.client.id="800016463473935"
oauth.create.users.groups=[""]
oauth.config.id="e6897caa09f6514a8bfcaec6b5a3d05f"
oauth.client.secret="dfa9f5e1371bf69a9eea7bbd7a42f4aa"
oauth.encode.userids="false"
oauth.create.users="true"
oauth.access.token.persist=B"true"
oauth.config.provider.id="soco-facebook"
oauth.scope=["email"]
