<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.adobe.cq.screens.patch"
        version="1.0.0">
    <name>Various Patches</name>
    <license>Copyright 2015 by Adobe Systems Incorporated</license>
    <engines>
        <engine name="cordova-ios" version=">=3.0.0"/>
    </engines>

    <preference name="DISPLAY_NAME" value="AEM Screens"/>
    <hook type="after_prepare" src="src/patch.js"/>

    <!-- ios -->
    <platform name="ios">
        <config-file target="*-Info.plist" parent="UIStatusBarHidden">
            <true/>
        </config-file>
        <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
            <false/>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleDisplayName">
            <string>$DISPLAY_NAME</string>
        </config-file>
    </platform>

    <!-- android -->
    <platform name="android" xmlns:android="http://schemas.android.com/apk/res/android">
        <resource-file src="xwalk-command-line" target="assets/xwalk-command-line"/>
    </platform>
    
        <!-- osx -->
    <platform name="osx">
        <config-file target="*-Info.plist" parent="CFBundleName">
            <string>$DISPLAY_NAME</string>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleDisplayName">
            <string>$DISPLAY_NAME</string>
        </config-file>
    </platform>
</plugin>
