<?xml version="1.0" encoding="UTF-8"?>
<!--

  ADOBE CONFIDENTIAL
  __________________

   Copyright 2015 Adobe Systems Incorporated
   All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.
  -->
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0" id="com.adobe.cq.screens.application.settings" version="0.0.1">
    <name>Application Settings</name>
    <description>AEM Screens player application settings</description>
    <license>Proprietary</license>

    <platform name="ios">
        <resource-file src="ios/Settings.bundle"/>
    </platform>

    <platform name="android" xmlns:android="http://schemas.android.com/apk/res/android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.adobe.cq.screens.player.ExportedPreferencesActivity" android:exported="true"/>
            <activity android:label="@string/preferences_launcher_name"
                      android:name="com.adobe.cq.screens.player.ShortcutActivity">
                <intent-filter>
                    <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                    <category android:name="android.intent.category.DEFAULT"/>
                </intent-filter>
            </activity>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
        </config-file>

        <source-file src="android/AppPreferencesActivity.java" target-dir="src/me/apla/cordova"/>
        <source-file src="android/ExportedPreferencesActivity.java" target-dir="src/com/adobe/cq/screens/player"/>
        <source-file src="android/ShortcutActivity.java" target-dir="src/com/adobe/cq/screens/player"/>

        <resource-file src="android/preferences.xml" target="res/xml/preferences.xml"/>
        <resource-file src="android/strings.xml" target="res/values/preferences.xml"/>
    </platform>

    <platform name="osx">
        <config-file target="config.xml" parent="/*">
            <feature name="PlayerPreferences">
                <param name="ios-package" value="PlayerPreferences" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="osx/PlayerPreferences.m" />
        <header-file src="osx/PlayerPreferences.h" />
        <resource-file src="osx/PlayerPreferences.xib" />
    </platform>


</plugin>